In [1]:
from algom.utils.data_object import dataObject
from src.trade.get_trades import get_business_rules_response

<br>

### Get input data

In [2]:
data = dataObject("""
SELECT
    ticker_time_sec,
    ticker_time,
    ticker,
    `interval`,
    exchange,
    week,
    month,
    quarter,
    year,
    close,
    high,
    low,
    open,
    volume_base,
    volume,
    AROR_12,
    AROR_24,
FROM `algom-trading.train_features.features_BTC_USDT_hour_i01_20190101`
WHERE year = 2019
""")

RUNNING: Querying SQL script.

Downloading: 100%|██████████| 8760/8760 [00:02<00:00, 2931.39rows/s]

SUCCESS: Loaded SQL query.

In [3]:
data.df.head()

,ticker_time_sec,ticker_time,ticker,interval,exchange,week,month,quarter,year,close,high,low,open,volume_base,volume,AROR_12,AROR_24
0,1546300800,2019-01-01 00:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2019,3700.31,3713.00,3689.88,3702.90,669.54,2476818.75,-0.000701,-0.001057
1,1546304400,2019-01-01 01:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2019,3689.69,3702.73,3684.22,3700.31,581.52,2148478.95,-0.000955,-0.000819
2,1546308000,2019-01-01 02:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2019,3690.00,3695.95,3675.04,3689.69,853.51,3147972.26,-0.001778,-0.000426
3,1546311600,2019-01-01 03:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2019,3693.13,3699.77,3685.78,3690.00,735.61,2716761.98,-0.001328,-0.000576
4,1546315200,2019-01-01 04:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2019,3692.71,3720.00,3685.94,3693.13,1265.84,4682015.74,-0.000975,-0.000683

<br>

### Apply backtest

In [4]:
from src.trade import backtest

In [5]:
iteration = 'i01'

bt = backtest.backtestTrades(
    df=data.df,
    business_rule_functions='src.business_rules.rules_BTCUSDT_hour_{}'.format(iteration),
    to_bq=True
)

In [6]:
bt.run_backtest()

BACKTEST: Getting backtest metadata
BACKTEST: Applying trade signals based on business rules module.
BACKTEST: Calculating performance metrics based on business rules module.

        ---------- BACKTEST PERFORMANCE SUMMARY ----------
        - % Gain: 62.2% vs 94.4% market
        - Income: $6224.0
        - Account Value: $16224.0
        - Account Cash:  $16224.0
        - Trades: 217 of 435 attempts (50.0% execution rate)
        - Account Min: $9413
        - Account Max: $16388

BACKTEST: Loading backtest results to BigQuery.
SUCCESS: Loaded DataFrame.

1it [00:06,  6.04s/it]

SUCCESS: Loaded DataFrame.

1it [00:04,  4.21s/it]

SUCCESS: Loaded DataFrame.

1it [00:03,  3.26s/it]

In [7]:
!pwd

/home/jovyan/algomosaic/notebooks/algom_trading_v001_dev/BTC/04_backtest

In [8]:
bt.backtest_output.to_csv('backtest_output.csv')

In [9]:
bt.backtest_summary

,backtest_execution_id,backtest_executed,parameter,value
0,d4e6d2b0959295e71300c6917fa985330cde162c,2021-01-17 11:46:17.960988,account_cash,16223.731985
1,d4e6d2b0959295e71300c6917fa985330cde162c,2021-01-17 11:46:17.960988,account_value,16223.730000
2,d4e6d2b0959295e71300c6917fa985330cde162c,2021-01-17 11:46:17.960988,commission,1431.000000
3,d4e6d2b0959295e71300c6917fa985330cde162c,2021-01-17 11:46:17.960988,income,6223.730000
4,d4e6d2b0959295e71300c6917fa985330cde162c,2021-01-17 11:46:17.960988,pct_gain,0.622373
5,d4e6d2b0959295e71300c6917fa985330cde162c,2021-01-17 11:46:17.960988,pct_gain_market,0.944494
6,d4e6d2b0959295e71300c6917fa985330cde162c,2021-01-17 11:46:17.960988,trade_attempts,435.000000
7,d4e6d2b0959295e71300c6917fa985330cde162c,2021-01-17 11:46:17.960988,trades,217.000000
8,d4e6d2b0959295e71300c6917fa985330cde162c,2021-01-17 11:46:17.960988,account_cash_min,-999.953025
9,d4e6d2b0959295e71300c6917fa985330cde162c,2021-01-17 11:46:17.960988,account_cash_max,16223.731985
10,d4e6d2b0959295e71300c6917fa985330cde162c,2021-01-17 11:46:17.960988,account_value_min,9413.130000
11,d4e6d2b0959295e71300c6917fa985330cde162c,2021-01-17 11:46:17.960988,account_value_max,16387.660000

<br><br>

### Apply trade responses

In [5]:
df = get_business_rules_response(
    data=data.df, 
    function='trade', 
    module='src.business_rules.trade_business_rules_BTCUSDT', 
    column_name=None, 
    transpose=True
)

In [6]:
df.head()

,ticker_time_sec,ticker_time,ticker,interval,exchange,week,month,quarter,year,close,...,low,open,volume_base,volume,AROR_12,AROR_24,response,trade,amount,commission
0,1514764800,2018-01-01 00:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2018,13529.01,...,13400.01,13716.36,426.78,5769896.49,0.002991,0.002146,"{'trade': 'SELL', 'amount': 0.36958, 'commissi...",SELL,0.36958,0.0
1,1514768400,2018-01-01 01:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2018,13203.06,...,13155.38,13529.01,359.65,4832291.65,0.000285,0.000783,None,None,NaN,NaN
2,1514772000,2018-01-01 02:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2018,13330.18,...,13200.00,13203.06,405.95,5402610.44,-0.000048,-0.000054,"{'trade': 'SELL', 'amount': 0.37509, 'commissi...",SELL,0.37509,0.0
3,1514775600,2018-01-01 03:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2018,13410.03,...,13290.00,13330.18,406.22,5470651.84,0.001235,0.001416,None,None,NaN,NaN
4,1514779200,2018-01-01 04:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2018,13601.01,...,13322.15,13410.03,326.49,4394870.97,-0.001427,0.002126,"{'trade': 'BUY', 'amount': 0.07352, 'commissio...",BUY,0.07352,0.0

In [10]:
# len(df[df.trade=='BUY'])
df[df.trade=='BUY'].sample(2)

,ticker_time_sec,ticker_time,ticker,interval,exchange,week,month,quarter,year,close,...,low,open,volume_base,volume,AROR_12,AROR_24,response,trade,amount,commission
1159,1518937200,2018-02-18 07:00:00+00:00,BTC-USDT,hour,binance,7,2,1,2018,10589.76,...,10391.75,10425.00,2683.98,28196764.28,-0.001019,-0.000540,"{'trade': 'BUY', 'amount': 0.09443, 'commissio...",BUY,0.09443,0.0
8307,1544670000,2018-12-13 03:00:00+00:00,BTC-USDT,hour,binance,50,12,4,2018,3405.78,...,3393.00,3403.02,859.48,2921465.28,-0.001323,0.000494,"{'trade': 'BUY', 'amount': 0.29362, 'commissio...",BUY,0.29362,0.0

In [9]:
len(df[df.trade=='SELL'])
df[df.trade=='SELL'].sample(2)

,ticker_time_sec,ticker_time,ticker,interval,exchange,week,month,quarter,year,close,...,low,open,volume_base,volume,AROR_12,AROR_24,response,trade,amount,commission
5388,1534161600,2018-08-13 12:00:00+00:00,BTC-USDT,hour,binance,33,8,3,2018,6443.96,...,6435.00,6441.34,1958.15,12633034.79,0.001592,0.001207,"{'trade': 'SELL', 'amount': 0.77592, 'commissi...",SELL,0.77592,0.0
3181,1526216400,2018-05-13 13:00:00+00:00,BTC-USDT,hour,binance,19,5,2,2018,8551.82,...,8505.99,8571.93,672.28,5742406.63,0.001285,0.000194,"{'trade': 'SELL', 'amount': 0.58467, 'commissi...",SELL,0.58467,0.0