In [1]:
from algom.utils.data_object import dataObject
from src.trade.get_trades import get_business_rules_response

<br><br>

### Get input data

In [10]:
data = dataObject("""
SELECT
ticker_time_sec,
ticker_time,
ticker,
`interval`,
exchange,
week,
month,
quarter,
year,
close,
high,
low,
open,
volume_base,
volume,
AROR_12,
AROR_24,
FROM `algom-trading.train_features.features_BTC_USDT_hour_i01_20200101`
WHERE year = 2020
""")

RUNNING: Querying SQL script.

Downloading: 100%|██████████| 8784/8784 [00:03<00:00, 2829.71rows/s]

SUCCESS: Loaded SQL query.

In [11]:
data.df.head()

,ticker_time_sec,ticker_time,ticker,interval,exchange,week,month,quarter,year,close,high,low,open,volume_base,volume,AROR_12,AROR_24
0,1577836800,2020-01-01 00:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2020,7177.02,7196.25,7175.46,7195.23,480.93,3453949.34,-0.000820,-0.000427
1,1577840400,2020-01-01 01:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2020,7216.27,7230.00,7175.71,7177.02,836.51,6030300.92,-0.000267,-0.000283
2,1577844000,2020-01-01 02:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2020,7242.85,7244.87,7211.41,7216.27,626.60,4530216.13,0.000060,-0.000024
3,1577847600,2020-01-01 03:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2020,7225.01,7245.00,7220.00,7242.85,748.76,5414508.65,0.000336,-0.000066
4,1577851200,2020-01-01 04:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2020,7217.27,7230.00,7215.03,7225.01,442.09,3193315.81,0.000067,-0.000133

<br><br>

### Apply trade responses

In [5]:
df = get_business_rules_response(
    data=data.df, 
    function='trade', 
    module='src.business_rules.trade_business_rules_BTCUSDT', 
    column_name=None, 
    transpose=True
)

In [6]:
df.head()

,ticker_time_sec,ticker_time,ticker,interval,exchange,week,month,quarter,year,close,...,low,open,volume_base,volume,AROR_12,AROR_24,response,trade,amount,commission
0,1514764800,2018-01-01 00:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2018,13529.01,...,13400.01,13716.36,426.78,5769896.49,0.002991,0.002146,"{'trade': 'SELL', 'amount': 0.36958, 'commissi...",SELL,0.36958,0.0
1,1514768400,2018-01-01 01:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2018,13203.06,...,13155.38,13529.01,359.65,4832291.65,0.000285,0.000783,None,None,NaN,NaN
2,1514772000,2018-01-01 02:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2018,13330.18,...,13200.00,13203.06,405.95,5402610.44,-0.000048,-0.000054,"{'trade': 'SELL', 'amount': 0.37509, 'commissi...",SELL,0.37509,0.0
3,1514775600,2018-01-01 03:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2018,13410.03,...,13290.00,13330.18,406.22,5470651.84,0.001235,0.001416,None,None,NaN,NaN
4,1514779200,2018-01-01 04:00:00+00:00,BTC-USDT,hour,binance,1,1,1,2018,13601.01,...,13322.15,13410.03,326.49,4394870.97,-0.001427,0.002126,"{'trade': 'BUY', 'amount': 0.07352, 'commissio...",BUY,0.07352,0.0

In [10]:
# len(df[df.trade=='BUY'])
df[df.trade=='BUY'].sample(2)

,ticker_time_sec,ticker_time,ticker,interval,exchange,week,month,quarter,year,close,...,low,open,volume_base,volume,AROR_12,AROR_24,response,trade,amount,commission
1159,1518937200,2018-02-18 07:00:00+00:00,BTC-USDT,hour,binance,7,2,1,2018,10589.76,...,10391.75,10425.00,2683.98,28196764.28,-0.001019,-0.000540,"{'trade': 'BUY', 'amount': 0.09443, 'commissio...",BUY,0.09443,0.0
8307,1544670000,2018-12-13 03:00:00+00:00,BTC-USDT,hour,binance,50,12,4,2018,3405.78,...,3393.00,3403.02,859.48,2921465.28,-0.001323,0.000494,"{'trade': 'BUY', 'amount': 0.29362, 'commissio...",BUY,0.29362,0.0

In [9]:
len(df[df.trade=='SELL'])
df[df.trade=='SELL'].sample(2)

,ticker_time_sec,ticker_time,ticker,interval,exchange,week,month,quarter,year,close,...,low,open,volume_base,volume,AROR_12,AROR_24,response,trade,amount,commission
5388,1534161600,2018-08-13 12:00:00+00:00,BTC-USDT,hour,binance,33,8,3,2018,6443.96,...,6435.00,6441.34,1958.15,12633034.79,0.001592,0.001207,"{'trade': 'SELL', 'amount': 0.77592, 'commissi...",SELL,0.77592,0.0
3181,1526216400,2018-05-13 13:00:00+00:00,BTC-USDT,hour,binance,19,5,2,2018,8551.82,...,8505.99,8571.93,672.28,5742406.63,0.001285,0.000194,"{'trade': 'SELL', 'amount': 0.58467, 'commissi...",SELL,0.58467,0.0

<br><br><br>

### Apply backtest

In [12]:
from src.trade import backtest

In [13]:
bt = backtest.backtestTrades(
    df=data.df,
    start_date='2020-01-01',
    end_date='2020-12-31',
    business_rule_functions='trade_business_rules_BTCUSDT'
)

In [14]:
bt.run_backtest()

BACKTEST: Getting backtest metadata
BACKTEST: Applying trade signals based on business rules module.
BACKTEST: Calculating performance metrics based on business rules module.

        ---------- BACKTEST PERFORMANCE SUMMARY ----------
        - % Gain: -11.6% vs 303.0% market
        - Income: $-1164.0
        - Account Value: $8836.0
        - Account Cash:  $8836.0
        - Trades: 1411 of 5600 attempts (25.0% execution rate)
        - Account Min: $5530
        - Account Max: $10625

BACKTEST: Results will not be loaded to BigQuery.

In [15]:
!pwd

/home/jovyan/algomosaic/notebooks/algom_trading_v001_dev/BTC/04_backtest

In [16]:
bt.backtest_output.to_csv('backtest_output.csv')

In [17]:
bt.backtest_summary

,backtest_execution_id,backtest_executed,parameter,value
0,f564949bc37e771b322b7e521deffa271ba04694,2021-01-17 08:50:16.439935,account_cash,8835.975851
1,f564949bc37e771b322b7e521deffa271ba04694,2021-01-17 08:50:16.439935,account_value,8835.980000
2,f564949bc37e771b322b7e521deffa271ba04694,2021-01-17 08:50:16.439935,commission,2.258711
3,f564949bc37e771b322b7e521deffa271ba04694,2021-01-17 08:50:16.439935,income,-1164.020000
4,f564949bc37e771b322b7e521deffa271ba04694,2021-01-17 08:50:16.439935,pct_gain,-0.116402
5,f564949bc37e771b322b7e521deffa271ba04694,2021-01-17 08:50:16.439935,pct_gain_market,3.030033
6,f564949bc37e771b322b7e521deffa271ba04694,2021-01-17 08:50:16.439935,trade_attempts,5600.000000
7,f564949bc37e771b322b7e521deffa271ba04694,2021-01-17 08:50:16.439935,trades,1411.000000
8,f564949bc37e771b322b7e521deffa271ba04694,2021-01-17 08:50:16.439935,account_cash_min,-996.989937
9,f564949bc37e771b322b7e521deffa271ba04694,2021-01-17 08:50:16.439935,account_cash_max,10585.977067
10,f564949bc37e771b322b7e521deffa271ba04694,2021-01-17 08:50:16.439935,account_value_min,5529.690000
11,f564949bc37e771b322b7e521deffa271ba04694,2021-01-17 08:50:16.439935,account_value_max,10624.920000